@keyframes zoom1 {
    0%   { background-size: 140% auto; }
  50% { background-size: 100% auto; }
  100% { background-size: 100% auto; }
}

@-webkit-keyframes  zoom1 {
    0%   { background-size: 140% auto; }
  50% { background-size: 100% auto; }
  100% { background-size: 100% auto; }
}

@keyframes zoom1a {
    0%   { background-size: 140% auto; }
  50% { background-size: 100% auto; }
  100% { background-size: 100% auto; }
}

@-webkit-keyframes zoom1a {
    0%   { background-size: 140% auto; }
  50% { background-size: 100% auto; }
  100% { background-size: 100% auto; }
}

@keyframes zoom2 {
  0%   { background-size: 140% auto; }
  50% { background-size: 100% auto; }
  100% { background-size: 100% auto; }
}

@-webkit-keyframes zoom2 {
  0%   { background-size: 140% auto; }
  50% { background-size: 100% auto; }
  100% { background-size: 100% auto; }
}

@keyframes zoom3 {
  0%   { background-size: 140% auto; }
  50% { background-size: 100% auto; }
  100% { background-size: 100% auto; }
}

@-webkit-keyframes zoom3 {
  0%   { background-size: 140% auto; }
  50% { background-size: 100% auto; }
  100% { background-size: 100% auto; }
}

@keyframes zoom4 {
  0%   { background-size: 140% auto; }
  50% { background-size: 100% auto; }
  100% { background-size: 100% auto; }
}

@-webkit-keyframes zoom4 {
  0%   { background-size: 140% auto; }
  50% { background-size: 100% auto; }
  100% { background-size: 100% auto; }
}


@keyframes horizontal{
    0% { opacity: 1; }
    10%{ opacity: 1;-webkit-transform: rotateY(0.5turn);}
	100% { opacity: 1; -webkit-transform: rotateY(0.5turn);}
}

@-webkit-keyframes horizontal{
    0% { opacity: 1; }
    10%{ opacity: 1;-webkit-transform: rotateY(0.5turn);}
	100% { opacity: 1; -webkit-transform: rotateY(0.5turn);}
}